/* reset css  */

body,p,ul,button,input {
  margin: 0;
  padding: 0;
}

body{
  -ms-overflow-style: none;
}

h1,h2{
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

li {
  list-style-type:none;
}

button,input{
  border: none;
  background-color: initial;
}

a {
  text-decoration: none;
  color: #525252;
}


/* styling  */

body {
  font-family:'Times New Roman', Times,'Hiragino Mincho Pro', serif;
  background-color: #2b2b2b;
}

.header {
  width: 100%;
  background: #FFC9C9;
  position: fixed;
  top: 0;
}


.header h1 {
color: rgb(187, 255, 255);
font-size: 26px;
padding: 15px;
text-align: center;
}

.section {
  width: 300px;
  margin: 100px auto;
  background-color: #fff;
  border-radius: 12px;
}

.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #262626;
  text-align: center;
  padding: 11px 0;
}

.section .title.user {
  border-bottom: 1px dashed #FFC9C9;
}

.section .title.agree {
  border-top: 1px dashed #FFC9C9;
}

.section .user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.section .info-list {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.info-list .list-label {
  display: inline-block;
  margin-bottom: 9px;
}

.info-list li {
  padding: 10px 15px;
}

#pw:first-of-type {
  margin-bottom: 10px;
}

#birth {
  font-size: 10px;
}
/* 달력눌렀을때 작게 보이는 이유는?  */

.info-list input[type="radio"] {
  width: 15px;
  margin-left: 10px;
  cursor: pointer;
}

.info-list input[type="radio"]:focus {
  color: aqua;
}

.gen {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.gen label {
  font-size: 12px;
  color: #444444;
}

.gen-wrapper {
  display: flex;
  align-items: center;
}

#phone,
#passcode {
  width: 170px;
}

.info-list .input-btn {
  width: 46px;
  height: 26px;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  color: #FFC9C9;
  background: #A5A5A5;
  border-radius: 4px;
  cursor: pointer;
}

.info-list li input {
  width: 222px;
  height: 26px;
  background: #F8F8F8;
  border: 0.5px solid #F0F0F0;
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 10px;
  font-size: 13px;
  color: #444444;
  /* 입력값만 패딩값 주고 싶을땐 ? */
}

.info-list li input::placeholder {
  color: #f4d0d0;
  padding-left: 10px;
  font-size: 10px;
}

.info-list li input:hover, 
.info-list li input:focus {
  border: 1px solid rgb(187, 255, 255);
  outline: none;
}

.pc-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* user-agree 스타일링 */

.user-agree {
  padding:  0 20px 0;
}
.title.agree {
  padding: 20px 0;
}

.agree-desc {
  padding: 5px 10px;
  width: 200px;
  height: 70px;
  font-size: 10px;
  overflow-y:scroll;
  border: 1px solid #e4e4e4;
  margin: 0 auto;
  color: #525252;
}

.agree-desc::-webkit-scrollbar{
  width: 8px;
}

.agree-desc::-webkit-scrollbar-thumb {
  background-color: #f4d0d0; /*스크롤바의 색상*/
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 50px;
}

.agree-desc::-webkit-scrollbar-track {
  background-color: #a5a5a57d; /*스크롤바 트랙 색상*/
}

.user-agree label {
  font-size: 10px;
  color: #262626;
}

.user-agree input[type="checkbox"] {
  margin-left: 5px;
  width: 11px;
}

.agree-wrapper {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 10px 20px;
}

.sign-up {
  /* text-align: center; */
  padding: 10px 0 20px 0;
}

.sign-up a {
  display: flex;
  margin: 0 auto;
  width: 95px;
  height: 26px;
  background-color: #f4d0d0;
  border-radius: 4px;
  color: #505050;
  font-size: 10px;
  font-weight: 700;
  cursor: pointer;
}

.sign-up a p{
  padding: 8px 29px;
}

.sign-up a:hover,
.sign-up a:focus {
  background-color: rgb(187, 255, 255);
  color: #f4d0d0;
}

/* sucess.html 스타일링*/

.login-wrapper {
  width: 300px;
  margin: 200px auto;
  background-color: #fff;
  border-radius: 12px;
  padding: 20px 30px;
}

.login-header {
  width: auto;
  font-size: 20px;
  font-weight: 700;
  background-color: rgb(253, 255, 203);
  padding: 10px;
  color: rgb(41, 41, 41);
  text-align: center;
  border-radius: 5px;
}

.login-des {
  padding: 20px 0;
  color: #949494;
}

.login-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-section .login{
  display: flex;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.login-section li:first-child {
  margin-bottom: 20px;
}

.login-section li input {
  width: 222px;
  height: 26px;
  background: #F8F8F8;
  border: 0.5px solid #F0F0F0;
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 10px;
  font-size: 13px;
  color: #444444;
  /* 입력값만 패딩값 주고 싶을땐 ? */
}

.login-section li input::placeholder {
  color: #f4d0d0;
  padding-left: 10px;
  font-size: 10px;
}

.login-section li input:hover, 
.login-section li input:focus {
  border: 1px solid rgb(187, 255, 255);
  outline: none;
}

.sign-in {
  display: flex;
  margin: 0 auto;
  width: 95px;
  height: 26px;
  background-color: rgb(253, 255, 203);
  color: #f4d0d0;
 
  border-radius: 4px;
  font-size: 10px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 20px;
}

.sign-in p{
  padding: 8px 34px;
}

.sign-in:hover,
.sign-in:focus {
  background-color: rgb(187, 255, 255);
  color: rgb(253, 255, 203);
}